<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- Canvas pour le rendu 3D -->
    <canvas id="renderCanvas" style="width: 100%; height: 100%;"></canvas>

    <script src="../Main.js">
        // Votre code Babylon.js va ici
        var canvas = document.getElementById("renderCanvas");
        var engine = new BABYLON.Engine(canvas, true);

        // Votre code pour créer et gérer la scène Babylon.js
        var scene = new BABYLON.Scene(engine);
        // ...

        // Gestionnaire d'événement pour redimensionner le canvas
        window.addEventListener('resize', function () {
            engine.resize();
        });

      
    </script>
</body>
</html>
